$purple_neon : rgb(180, 52, 235);

.catalog-container {
    background-color: black;
    height: 100vh;
    overflow: auto;
    padding: 2%;
    .catalog-title {
        font-size: 4rem;
        color: $purple_neon;
        font-weight: bold;
        width: fit-content;
        margin: 0 auto 4rem auto;
        font-family: Arial, Helvetica, sans-serif;
    };

    .catalog {
        width: 80%;
        margin: 0 auto;
        .catalog-wrapper {
            display: grid;
            grid-gap: 2%;
            grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr) ) ;
            background-color: black;
            color: black;

            .catalog-item {
                border-style: solid;
                border-color: $purple_neon;
                border-width: 4px;
                width: 100%;
                overflow: auto;
            }
        }
    }
}